<div class="logo">
    <a href="index.html">
    <img src="../../../project_eeou/public/images/cinema_logo.jpeg" alt="logo CINEMA ORELLANA" loading="lazy" width="200" height="150">
    </a>
</div>

<div id="navigation-container">
    <button id="menu" name="menu" title="hamburgerMenu"></button>
    <nav id="navMenu">
        <ul>
            <li><a href="../../../project_eeou/project.html" class="active">Home</a></li>
            <li><a href="../../../project_eeou/project_pages/catalog.html">Favorites</a></li>
        </ul>
    </nav>
</div>